
<div data-sly-use.model=com.adobe.aem.may.batch.core.models.DigitalParent>

     ${model.articletitle}<br>
     ${model.articledesc}<br>
     ${model.articlenum}<br>

      <br>
    <div data-sly-list.item=${model.bookdetailswithmap}>
        <h3>${item.bookname}</h3><br>
        <h3>${item.booksubject}</h3><br>
        <h3><div> ${"yyyy-MM-dd"@format=item.bookpublishdate}</div></h3>

        <div data-sly-list.item1=${item.bookdetailswithwriter}>
             ${item1.writername}<br>
             ${item1.writersubject}<br>
             <div> ${"yyyy-MM-dd"@format=item1.writerpublishdate}</div>
        </div>     

    </div>    

</div>



