


<div data-sly-use.model=com.adobe.aem.may.batch.core.models.DigitalParent>

     ${model.articletitle}<br>
     ${model.articledesc}<br>
     ${model.articlenum}<br>


     <h2>PageName: ${model.articletitle}<br> </h2>
     <h2>PagePath: ${model.articlePagePath}<br></h2>

     <h2>UserId :${model.webContentNode} <br> </h2>


      <br>
    <div data-sly-list.item=${model.bookdetailswithmap}>

        <h3 class="Booktitle"> ${item.bookname}</h3><br>
        <h3 class="Booksubject"> ${item.booksubject}</h3><br>
        <h3 class="Bookdate"> <div> ${"yyyy-MM-dd"@format=item.bookpublishdate}</div></h3>

        <div data-sly-list.item1=${item.bookdetailswithwriter}>
             ${item1.writername}<br>
             ${item1.writersubject}<br>
             <div> ${"yyyy-MM-dd"@format=item1.writerpublishdate}</div><br><br>
        </div>     

    </div>    

</div>

       <div data-sly-test="${checkbox==checkbox}">
       <h3>Data is coming from the Testbox</h3>
       </div>

       <div data-sly-include="forms.html"></div><br>

    <div data-sly-resource="${forms @resourceType='May/components/forms'}"></div><br>

    <div data-sly-set.items="${['Suresh', 'AEM' , 'Surge']}"> </div>

    <ul data-sly-repeat="${items}">

        <li> ${item} </li>
    </ul>

    <div data-sly-template.writer="${@para1,para2,para3,para4}"> 

          <h4> ${para1} </h4>
          <h4> ${para2} </h4>
          <h4> ${para3} </h4>
          <h4> ${para4} </h4>

    </div>

    <div data-sly-call="${writer @

    para1='1000  jhjkgjlhlGUKGlhljkhlk
    bhbjjkhjkgjkgk ,jhjhjljjj jkhjkg.jkgk.j hkjjkgjg',

    para2='900  hlihlghlhgl 909790k lkhlh',

    para3='800 hhkhilhli 987jlkh jkhh',

    para4='700 hlhi ihihi4ljl 44'}">

    </div>

    <p data-sly-text="${properties.jcr:description}">Lorem ipsum</p>

    <div data-sly-unwrap> Surge </div> <br><br>

    <sly>
    OSGi components in AEM are created using Declarative Services (DS).<br>
    These components can be registered as services, which other components can use via dependency injection
    </sly><br><br>

    <div title="Suresh Reddy" data-sly-attribute="${properties.jcr:title}">Demo</div>
    <div title="Surge solutions" data-sly-attribute="${model.articletitle}">Surge Software Solutions</div>

    <h3 data-sly-element=${titleLevel}> Surge-AEM </h3>










